@font-face {
  font-family: 'Copperplate';
  src: url('{{ path }}/assets/fonts/copperplate_gothic_bold.woff') format('woff');
}

@font-face {
    font-family: 'Conduit';
    src: url('{{ path }}/assets/fonts/conduit-itc-std.woff') format('woff');
}