<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Who Wants To Be A Millionaire</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <link rel='stylesheet' type='text/css' href='style.css' />
  </head>

  <body>
    {{> partials/board }}
    {{> partials/win }}
    {{> partials/question }}
    {{> partials/timer }}
    {{> partials/audience }}
    <!-- {{> partials/video }} -->

    <canvas class='confetti'></canvas>

    <script type="text/javascript" src="main.js"></script>
</html>
