<div class='audience js-hide-ask'>
  <div class='audience__grid'>
    <div class='audience__bar audience__bar--a'></div>
    <div class='audience__bar audience__bar--b'></div>
    <div class='audience__bar audience__bar--c'></div>
    <div class='audience__bar audience__bar--d'></div>
  </div>
  <div class='audience__labels'>
    <div class='audience__label'>A</div>
    <div class='audience__label'>B</div>
    <div class='audience__label'>C</div>
    <div class='audience__label'>D</div>
  </div>
</div>
