<!-- Answer responses -->
<audio class='audio-player js-audio js-audio-music js-audio-final' loop>
  <source src="/assets/audio/final-answer.mp3" type="audio/mpeg">
</audio>

<audio class='audio-player js-audio js-audio-correct'>
  <source src="/assets/audio/correct-answer.mp3" type="audio/mpeg">
</audio>

<audio class='audio-player js-audio js-audio-wrong'>
  <source src="/assets/audio/wrong-answer.mp3" type="audio/mpeg">
</audio>

<!-- Lifelines -->
<audio class='audio-player js-audio js-audio-phone-a-friend'>
  <source src="/assets/audio/phone-a-friend.mp3" type="audio/mpeg">
</audio>

<audio class='audio-player js-audio js-audio-music js-audio-ask-the-audience' loop>
  <source src="/assets/audio/ask-the-audience.mp3" type="audio/mpeg">
</audio>

<audio class='audio-player js-audio js-audio-50-50'>
  <source src="/assets/audio/50-50.mp3" type="audio/mpeg">
</audio>

<!-- Music -->
<audio class='audio-player js-audio js-audio-music js-audio-explain' loop>
  <source src="/assets/audio/explain.mp3" type="audio/mpeg">
</audio>

<audio class='audio-player js-audio js-audio-music js-audio-fastest' loop>
  <source src="/assets/audio/fastest-finger.mp3" type="audio/mpeg">
</audio>

<audio class='audio-player js-audio js-audio-music js-audio-music-early' loop>
  <source src="/assets/audio/music-early.mp3" type="audio/mpeg">
</audio>

<audio class='audio-player js-audio js-audio-music js-audio-music-middle' loop>
  <source src="/assets/audio/music-middle.mp3" type="audio/mpeg">
</audio>

<audio class='audio-player js-audio js-audio-music js-audio-music-late' loop>
  <source src="/assets/audio/music-late.mp3" type="audio/mpeg">
</audio>

<audio class='audio-player js-audio js-audio-music js-audio-main-theme' loop>
  <source src="/assets/audio/main-theme.mp3" type="audio/mpeg">
</audio>

<!-- Misc -->
<audio class='audio-player js-audio js-audio-lets-play'>
  <source src="/assets/audio/lets-play.mp3" type="audio/mpeg">
</audio>
