<div class='fastest js-start-game'>
  <div class='fastest__question js-fastest-question'></div>
  <div class='fastest__answers'>
    <div class='question__answer question__answer--1'>
      <span class='question__answer-letter js-fastest-letter-1'>C:</span>
      <span class='question__answer-label js-fastest-answer-1'>An Answer</span>
    </div>

    <div class='question__answer question__answer--2'>
      <span class='question__answer-letter js-fastest-letter-2'>C:</span>
      <span class='question__answer-label js-fastest-answer-2'>An Answer</span>
    </div>

    <div class='question__answer question__answer--3'>
      <span class='question__answer-letter js-fastest-letter-3'>C:</span>
      <span class='question__answer-label js-fastest-answer-3'>An Answer</span>
    </div>

    <div class='question__answer question__answer--4'>
      <span class='question__answer-letter js-fastest-letter-4'>C:</span>
      <span class='question__answer-label js-fastest-answer-4'>An Answer</span>
    </div>
  </div>
</div>