<div class='question js-finger-skip'>
  <div class='question__question-bar'>
    <h2 class='question__question js-question'>What is a question that Shannon will come up with?</h2>
  </div>

  <div class='question__answers'>
    <div class='question__answer question__answer--a js-choice js-choice-a' data-choice='A'>
      <span class='question__answer-letter'>A:</span>
      <span class='question__answer-label js-answer-a'>An Answer</span>
    </div>

    <div class='question__answer question__answer--b js-choice js-choice-b' data-choice='B'>
      <span class='question__answer-letter'>B:</span>
      <span class='question__answer-label js-answer-b'>An Answer</span>
    </div>

    <div class='question__answer question__answer--c js-choice js-choice-c' data-choice='C'>
      <span class='question__answer-letter'>C:</span>
      <span class='question__answer-label js-answer-c'>An Answer</span>
    </div>

    <div class='question__answer question__answer--d js-choice js-choice-d' data-choice='D'>
      <span class='question__answer-letter'>D:</span>
      <span class='question__answer-label js-answer-d'>An Answer</span>
    </div>
  </div>
</div>