<div class='question'>
  <div class='question__question-bar'>
    <h2 class='question__question'>What is a question that Shannon will come up with?</h2>
  </div>

  <div class='question__answers'>
    <div class='question__answer question__answer--a'>
      <span class='question__answer-letter'>A:</span>
      <span class='question__answer-label'>An Answer</span>
    </div>

    <div class='question__answer question__answer--b'>
      <span class='question__answer-letter'>B:</span>
      <span class='question__answer-label'>An Answer</span>
    </div>

    <div class='question__answer question__answer--c'>
      <span class='question__answer-letter'>C:</span>
      <span class='question__answer-label'>An Answer</span>
    </div>

    <div class='question__answer question__answer--d'>
      <span class='question__answer-letter'>D:</span>
      <span class='question__answer-label'>An Answer</span>
    </div>
  </div>
</div>