.video {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video__feed {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}